.main {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
}
@font-face {
    font-family: "type";
    src: url(../fonts/lov.ttf) format("truetype");
}
body{
  font-family: "type", arial, serif;
  font-size: 20px;
}
